name: whileLoopStatement
phrase: while | each
insertionScope: statement

$1.wrapperPhrase: while
$1.wrapperScope: statement
$0.wrapperPhrase: while block
$0.wrapperScope: statement
---

language: javascript | java
-
while($1) {
    $0
}
---

language: python
-
while $1:
    $0
---

language: ruby
-
$1.each do |$2|
    $0
end
---
